{% extends "shop/base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<h1>Create an account</h1>
<p>Please, sign up using the following form:</p>
<div class="offset-3 col-md-6">
  <form class="form-inline" action="." method="post">
    <div class="form-group">
      {{ user_form.as_p }}
    </div>
  {% csrf_token %}
  <p><input type="submit" value="Create my account"></p>
  </form>
</div>

<div class="social">
<ul>
<li class="facebook"><a href="{% url "social:begin" "facebook" %}">Sign
in with Facebook</a></li>
<br>
<li class="google"><a href="{% url "social:begin" "google-oauth2" %}">Login
with Google</a></li>
</ul>
</div>
{% endblock %}
